.jumbotron1 {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 25px;
}

#footer {
	text-align: center;
	height: 20px !important;
}

.footer {
	background: #F9F9F9 none repeat scroll 0% 0%;
}

/* h3.title-responsive {
	color: #FFF;
} */

#group_zhinfo p {
	word-break: break-all;
	margin: 0px 0px 0px 0px;
	color: #FFF;
}

#group_eninfo p {
	word-break: break-all;
	margin: 0px 0px 0px 0px;
}

#below-nav {
	margin-top:0px;
	padding-right: 0px;
	padding-left: 0px;
}

#div_group_info {
	color: #FFF;
	/* background: #9CCDFF none repeat scroll 0% 0%; */
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0px 0px 30px rgba(0, 0, 0, 0.075);
	background: transparent linear-gradient(45deg, #050F06 0%, #51A351 100%) repeat scroll 0% 0%;
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2) inset, 0px -3px 7px rgba(0, 0, 0, 0.2) inset;
}

/* #div_group_member {
	color: #000000;
	background: rgb(255, 255, 233) none repeat scroll 0% 0%;
} */

#div_notice {
	color: #FFF;
	/* background: #85DAC9 none repeat scroll 0% 0%; */
	border-top: 1px solid #E5E5E5;
	background-color: #F5F5F5;
}

#paper {
	color: #FFF;
	background: #2C3E50 none repeat scroll 0% 0%;
	padding: 50px 0px;
}

ol, ul {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 25px;
}

#ol_paper li {
	font-size: 15px;
	padding: 5px;
}

#ul_proj > li {
	margin-left: 1.5%;
}

.thumbnail1 {
	min-height: 170px;
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    line-height: 1.42857;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 4px;
    transition: border 0.2s ease-in-out 0s;
}

.caption > p {
	word-break: break-all;
}